/* Reset base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0B0B0B;

  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Main layout container */
#left-side, #right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Left Side (Text Title) */
#left-side {
  align-items: flex-start;
  padding: 40px;
}

#title-section h1 {
  font-size: 5vh;
  font-weight: 800;
  line-height: 1.2;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* Right Side (UI) */
#right-side {
  gap: 15px;
}

#browse-button {
  padding: 10px;
  background-color: #111;
  border: 1px solid #444;
  border-radius: 6px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.35s ease;
}

#browse-button:hover {
  border-color: #ff5f6d;
}

/* Image Preview */
#preview {
  width: 250px;
  height: 150px;
  object-fit: contain;
  border: 2px solid #333;
  border-radius: 6px;
  background-color: #1e1e1e;
  margin: 10px 0;
  padding: 5px;
}

/* Dropdown styling */
select.configurable {
  padding: 10px;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* Button styling */
#convert-button {
  padding: 12px 40px;
  background: linear-gradient(145deg, #ff5f6d, #ffc371);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  box-shadow: 0 4px 10px rgba(255, 95, 109, 0.5);
  cursor: pointer;
  transition: all 0.25s ease;
}

#convert-button:hover {
  transform: scale(1.1);
}

#nav-section {
  position: absolute;
  bottom: 40px;
  left: 50px;
  background-color: #161616;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#nav-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav-section a {
  font-size: 1rem;
  color: #797979;
  font-weight: 500;
  margin: 7.5px;
  text-decoration: none;
}

#nav-section a:hover {
  color: white;
  cursor: pointer;
}

